<!DOCTYPE html>
<style>body{padding:0;margin:0;}div{color:@primary;background:@secondary, url(abc/def.jpg);}span{}.item.highlighted{border-bottom:3px solid @accent;}h1{background:dimgray linear-gradient(10deg, red, blue);padding:10px;margin:0;}@media (min-width:200px) and (max-width:500px){h1{display:block;font-size:80%;color:red;}input{}}h2{color:blue;font-size:150%;}</style>
<script src=/&!.js>
</script>
<link href=/&!.css rel=stylesheet>
<h1>h1 h1 h1 
</h1>
<h2>h2 h2 h2 
</h2>
